.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Login */

#formBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: transparent;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  color: black;
}

#formBox h3 {
  color: blue;
}

#formBox h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid white;
}

#formBox form {
  padding: 0 40px;
  box-sizing: border-box;

}

form .text_field {
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.text_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;

}

.text_field span::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #9426d9;
  transition: .5s;
}

.text_field input:focus~label,
.text_field input:valid~label {
  top: -5px;
  color: #9426d9;
}

.text_field input:focus~span::before,
.text_field input:valid~span::before {
  width: 100%;

}


.forgot-password {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
  font-size: 15px;
}

.forgot-password:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  border-color: #2691d9;
  transition: .5s;
}

.sign-up {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sign-up a:hover {
  text-decoration: underline;
  color: red;
}